{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row mt-2">
        <div class="col-9">
            <h1>Search result</h1>
        </div>
        <div class="col">
            {% include "qna/include/ask_button.html" %}
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            {% if questions %}
            {% include "qna/include/questions_list.html" %}
            {% else %}
            <h4>{{ q }} not found!</h4>
            {% endif %}
            {% include "qna/include/paginator.html" %}
        </div>
        <div class="col-3">
            {% include "qna/include/trending.html" %}
        </div>
    </div>
</div>

{% endblock %}
