{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row mt-2">
        <div class="col-9">
            <h1>Sign Up</h1>
        </div>
        <div class="col">
            {% include "qna/include/ask_button.html" %}
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            {% include "customuser/include/signup_form.html" %}
        </div>
        <div class="col-3">
            {% include "qna/include/trending.html" %}
        </div>
    </div>
</div>

{% endblock %}
